@media screen and (max-width: 600px) {
    .logo {
        height: 40px;
        padding-top: 15px;
    }

    .main_header {
        font-size: 25px;
    }

    .intro {
        font-size: 15px;
    }

    .grid-container-harb {
        display: none;
    }

    .slider {
        display: flex;
    }

    .Pierro,
    .Il_Capitano,
    .Dottore,
    .Columbina,
    .Arlecchino,
    .Pulcinella,
    .Scaramouche,
    .Sandrone,
    .Signora,
    .Pantalone,
    .Tartaglia {
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    iframe {
        width: 100%;
    }
}